html {
    scroll-behavior: smooth;
    position: relative;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    background-color: rgb(28, 30, 34);
    color: rgb(245, 245, 245);
}
a, a:hover, a:visited, a:active, a:focus{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
::selection{
    background-color: rgb(240, 255, 255);
    color: rgb(60, 64, 71);
}
::-moz-selection{
    background-color: rgb(240, 255, 255);
    color: rgb(60, 64, 71);
}
footer p{
    font-size: 0.7rem;
    text-align: center;
}
header{
    text-align: center;
    margin: 3rem 0;
    font-family: 'Pangolin', cursive; 
}
header h1{
    font-size: 2.5rem;
}
.choices{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 2rem auto 5rem auto;
}
.choice{
    padding: 0.5rem 1.3rem;
    margin: 0.5rem 0.7rem;
    border: 3px solid white;
    border-radius: 15px;
    font-size: 3.5rem;
    box-shadow: 0px 0px 10px white;
    transition: all 0.3s;
}
.active{
    color: rgb(177, 252, 227);
    background-color: rgba(240, 248, 255, 0.7);
}
.active:hover{
    color: rgb(177, 252, 227);
    background-color: rgba(240, 248, 255, 0.7);
}
.box{
    padding: 1rem 3rem;
    border: 3px solid white;
    margin: 4rem auto;
    text-align: center;
    width: 280px;
    font-size: 0.9rem;
    font-weight: bold;
    position: relative;
}
.box p{
    margin: 0;
}
.score{
    font-size: 3rem;
}
.box-text-user{
    background-color: rgb(177, 252, 227);
    color: black;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    width: 109px;
    position: absolute;
    top: 35%;
    left: -3rem;
}
.box-text-comp{
    background-color: rgb(252, 217, 177);
    color: black;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    position: absolute;
    top: 35%;
    right: -3rem;
}
.result p{
    margin: 1rem auto;
    font-family: 'Pangolin', cursive; 
    text-align: center;
    font-size: 2rem;
}
.computer-choice i{
    display: block;
    text-align: center;
    padding: 1rem 0;
    margin: 0.5rem auto;
    border: 3px solid rgb(252, 217, 177);
    color: rgb(252, 217, 177);
    background-color: rgba(240, 248, 255, 0.1);
    border-radius: 15px;
    font-size: 3.5rem;
    width: 100px;
}
.msg{
    text-shadow: 0px 0px 25px white;
    padding-bottom: 5px;
}
.move{
    padding-top: 25px;
}
.move-arrow{
    padding-bottom: 25px;
    text-shadow: 0px 0px 15px white;
}
.win{
    position: absolute;
    top: 40%;
    left: 0px;
    width: 25%;
}
.lost{
    position: absolute;
    top: 40%;
    right: 0px;
    width: 25%;
}
@media screen and (min-width: 992px){
    header h1{
        font-size: 3rem;
    }
    .win{
        top: 36%;
        left: 80px;
    }
    .lost{
        top: 36%;
        right: 80px;
    }
    .choices{
        width: 90%;
    }
    .choice{
        margin: 0.5rem 1.5rem;
    }
    .choice:hover{
        color: rgb(177, 252, 227);
        background-color: rgba(240, 248, 255, 0.2);
    }
    .active{
        color: rgb(177, 252, 227);
        background-color: rgba(240, 248, 255, 0.5);
    }
    .active:hover{
        color: rgb(177, 252, 227);
        background-color: rgba(240, 248, 255, 0.5);
    }
}